<header>
  <app-title></app-title>

  <app-search-bar
    [style]="{ height: '68px', width: '240px' }"
    (search)="onSearch($event)"
    class="desktop"
  ></app-search-bar>

  <app-toggle (toggle)="onChangeTemplate()" class="desktop"></app-toggle>
</header>

<main>
  <ng-container *ngIf="emojis$ | async as emojis">
    <ng-container *ngIf="emojis.length; else empty">
      <ng-container *ngIf="localStorage.get('emojis') as cacheEmojis">
        <ng-container *ngIf="cacheEmojis.length && !(hasSearch$ | async)">
          <h2>Your last emojis copied !</h2>

          <app-item-list
            [emojis]="cacheEmojis.reverse()"
            [isGrid]="false"
            (details)="openDialog($event)"
            class="copied"
          ></app-item-list>
        </ng-container>
      </ng-container>

      <app-grouped-item
        *ngIf="!isGrid"
        [groups]="emojisGroup$ | async"
        (details)="openDialog($event)"
      ></app-grouped-item>

      <ng-container *ngIf="isGrid">
        <h2 *ngIf="localStorage.get('emojis').length && !(hasSearch$ | async)">
          Others
        </h2>
        <app-item-list
          [emojis]="emojis$ | async"
          [isGrid]="true"
          (details)="openDialog($event)"
        ></app-item-list>
      </ng-container>
    </ng-container>
    <ng-template #empty>
      <app-empty></app-empty>
    </ng-template>
    <div class="actions">
      <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </div>
  </ng-container>
</main>

<footer *ngIf="emojis$ | async">
  Made with ❤️ &nbsp; by
  <a href="https://github.com/timothyalcaide">Timothy</a>
</footer>
