input {
  padding: 8px 16px;
  font-size: 1.6rem;
  color: #444;
  height: 100%;
  width: 100%;
  border: 3px dashed #444;
  border-radius: 6px;
  background-color: #dcdeee;

  &:focus,
  &:active {
    border: 3px solid #444;
  }
}
