.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.box {
  height: 60px;
  background-color: #777;
  border: 3px dashed #444;
  padding: 12px;
  border-radius: 6px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  cursor: help;
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 2.8rem;
  color: white;
  margin: 0;
  padding-right: 6px;
  margin-left: 8px;
}
